<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Blog Post</title>
<link rel="stylesheet" href="assets/stylesheets/style.css"></head>
<body>
    <h1 class="edit-title">Edit</h1>
    <%= render partial: "form", locals: {blog_post: @blog_post} %>

    <div class="button-container">
        <%= button_to "Delete", @blog_post, method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "btn delete-btn" %>
        <%= link_to "Blog Posts", blog_posts_path, class: "btn" if user_signed_in? %>
    </div>
</body>
</html>