<h1> New Blog Post </h1>
<%= render partial: "form", locals: {blog_post: @blog_post}, class:"bg-ground-100 px-4 py-2 rounded hover:bg-gray-200" %>
<%= link_to "Blog posts",blog_posts_path, class:"bg-ground-100 px-4 py-2 rounded hover:bg-gray-200" %>