<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Post</title>
    <link rel="stylesheet" href="assets/stylesheets/style.css">
</head>
<body>
    <h1><%= @blog_post.title %></h1>
    <p><%= @blog_post.body %></p>
    <%= link_to "Edit", edit_blog_post_path(@blog_post), class:"btn" if user_signed_in? %>
    <%= link_to "Blog posts", blog_posts_path, class:"btn" %>
</body>
</html>